function grub4dos_boot {
    set cfgfile="$1"
    linux $vtoy_efi_part/tool/grub4dos --config-file=$cfgfile
}

menuentry "GRUB For DOS" --class=grub4dos {
    grub4dos_boot "find --set-root /BOOT/GRUB/MENU.LST;configfile /BOOT/GRUB/MENU.LST"
}

submenu 'Utility Tools -->' --class=utilitytools {
    menuentry "GHOST 11.5" --class=ghost {
        grub4dos_boot "find --set-root /BOOT/IMGS/GHOST.IMG;map --mem /BOOT/IMGS/GHOST.IMG (fd0);map --hook;chainloader (fd0)+1;rootnoverify (fd0)"
    }

    menuentry "DiskGenius" --class=diskgenius {
        grub4dos_boot "find --set-root /BOOT/IMGS/DG.IMG;map --mem /BOOT/IMGS/DG.IMG (fd0);map --hook;chainloader (fd0)+1;rootnoverify (fd0)"
    }

    menuentry "MaxDos" --class=maxdos {
        grub4dos_boot "find --set-root /BOOT/IMGS/DOS.IMG;map --mem /BOOT/IMGS/DOS.IMG (fd0);map --hook;chainloader (fd0)+1;rootnoverify (fd0)"
    }
    
    menuentry '<-- Return to previous menu [Esc]' --class=vtoyret VTOY_RET {
        echo 'Return ...'
    }
}

menuentry '<-- Return to previous menu [Esc]' --class=vtoyret VTOY_RET {
    echo 'Return ...'
}